USE [QLTiemChungCOVID19]
GO
ALTER TABLE [dbo].[TaiKhoan] DROP CONSTRAINT [FK_TaiKhoan_Quyen]
GO
ALTER TABLE [dbo].[Phuong] DROP CONSTRAINT [FK_Phuong_Quan]
GO
ALTER TABLE [dbo].[PhieuChungNhan] DROP CONSTRAINT [FK_PhieuChungNhan_NhanVienYT]
GO
ALTER TABLE [dbo].[PhieuChungNhan] DROP CONSTRAINT [FK_PhieuChungNhan_NguoiDan]
GO
ALTER TABLE [dbo].[PhieuChungNhan] DROP CONSTRAINT [FK_PhieuChungNhan_DotTiem]
GO
ALTER TABLE [dbo].[NhanVienYT] DROP CONSTRAINT [FK_NhanVienYT_DoiNguYT]
GO
ALTER TABLE [dbo].[NguoiDan] DROP CONSTRAINT [FK_NguoiDan_Quan]
GO
ALTER TABLE [dbo].[NguoiDan] DROP CONSTRAINT [FK_NguoiDan_Phuong]
GO
ALTER TABLE [dbo].[NguoiDan] DROP CONSTRAINT [FK_NguoiDan_DanhSachTiem]
GO
ALTER TABLE [dbo].[DotTiem] DROP CONSTRAINT [FK_DotTiem_Quan]
GO
ALTER TABLE [dbo].[DotTiem] DROP CONSTRAINT [FK_DotTiem_Phuong]
GO
ALTER TABLE [dbo].[DotTiem] DROP CONSTRAINT [FK_DotTiem_LoaiVacXin]
GO
ALTER TABLE [dbo].[DotTiem] DROP CONSTRAINT [FK_DotTiem_DoiNguYT]
GO
ALTER TABLE [dbo].[DotTiem] DROP CONSTRAINT [FK_DotTiem_DanhSachTiem]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 12/20/2021 4:30:41 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TaiKhoan]') AND type in (N'U'))
DROP TABLE [dbo].[TaiKhoan]
GO
/****** Object:  Table [dbo].[Quyen]    Script Date: 12/20/2021 4:30:41 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Quyen]') AND type in (N'U'))
DROP TABLE [dbo].[Quyen]
GO
/****** Object:  Table [dbo].[Quan]    Script Date: 12/20/2021 4:30:41 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Quan]') AND type in (N'U'))
DROP TABLE [dbo].[Quan]
GO
/****** Object:  Table [dbo].[Phuong]    Script Date: 12/20/2021 4:30:41 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Phuong]') AND type in (N'U'))
DROP TABLE [dbo].[Phuong]
GO
/****** Object:  Table [dbo].[PhieuChungNhan]    Script Date: 12/20/2021 4:30:41 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PhieuChungNhan]') AND type in (N'U'))
DROP TABLE [dbo].[PhieuChungNhan]
GO
/****** Object:  Table [dbo].[NhanVienYT]    Script Date: 12/20/2021 4:30:41 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NhanVienYT]') AND type in (N'U'))
DROP TABLE [dbo].[NhanVienYT]
GO
/****** Object:  Table [dbo].[NguoiDan]    Script Date: 12/20/2021 4:30:41 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NguoiDan]') AND type in (N'U'))
DROP TABLE [dbo].[NguoiDan]
GO
/****** Object:  Table [dbo].[LoaiVacXin]    Script Date: 12/20/2021 4:30:41 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LoaiVacXin]') AND type in (N'U'))
DROP TABLE [dbo].[LoaiVacXin]
GO
/****** Object:  Table [dbo].[DotTiem]    Script Date: 12/20/2021 4:30:41 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DotTiem]') AND type in (N'U'))
DROP TABLE [dbo].[DotTiem]
GO
/****** Object:  Table [dbo].[DoiNguYT]    Script Date: 12/20/2021 4:30:41 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DoiNguYT]') AND type in (N'U'))
DROP TABLE [dbo].[DoiNguYT]
GO
/****** Object:  Table [dbo].[DanhSachTiem]    Script Date: 12/20/2021 4:30:41 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DanhSachTiem]') AND type in (N'U'))
DROP TABLE [dbo].[DanhSachTiem]
GO
/****** Object:  Table [dbo].[DanhSachTiem]    Script Date: 12/20/2021 4:30:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhSachTiem](
	[MaSoDS] [varchar](50) NOT NULL,
	[TenDanhSach] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DanhSachTiem] PRIMARY KEY CLUSTERED 
(
	[MaSoDS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoiNguYT]    Script Date: 12/20/2021 4:30:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoiNguYT](
	[MaDoiNgu] [varchar](50) NOT NULL,
	[TenDoiNgu] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DoiNguYT] PRIMARY KEY CLUSTERED 
(
	[MaDoiNgu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DotTiem]    Script Date: 12/20/2021 4:30:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DotTiem](
	[MaDotTiem] [varchar](50) NOT NULL,
	[NgayTiem] [date] NOT NULL,
	[MaQuan] [varchar](50) NOT NULL,
	[MaPhuong] [varchar](50) NOT NULL,
	[MaLoai] [varchar](50) NOT NULL,
	[MaSoDS] [varchar](50) NOT NULL,
	[MaDoiNgu] [varchar](50) NOT NULL,
 CONSTRAINT [PK_DotTiem] PRIMARY KEY CLUSTERED 
(
	[MaDotTiem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiVacXin]    Script Date: 12/20/2021 4:30:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiVacXin](
	[MaLoai] [varchar](50) NOT NULL,
	[TenLoai] [nvarchar](50) NOT NULL,
	[SoMuiTiem] [int] NOT NULL,
 CONSTRAINT [PK_LoaiVacXin] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDan]    Script Date: 12/20/2021 4:30:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDan](
	[CMND] [varchar](50) NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[GioiTinh] [varchar](50) NOT NULL,
	[NamSinh] [varchar](50) NOT NULL,
	[SDT] [varchar](50) NOT NULL,
	[MaQuan] [varchar](50) NOT NULL,
	[MaPhuong] [varchar](50) NOT NULL,
	[DiaChi] [nvarchar](50) NOT NULL,
	[MaSoDS] [varchar](50) NOT NULL,
 CONSTRAINT [PK_NguoiDan] PRIMARY KEY CLUSTERED 
(
	[CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVienYT]    Script Date: 12/20/2021 4:30:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVienYT](
	[MaNhanVienYT] [varchar](50) NOT NULL,
	[TenNhanVienYT] [nvarchar](50) NOT NULL,
	[MaDoiNgu] [varchar](50) NOT NULL,
	[SDT] [varchar](50) NOT NULL,
	[CoQuan] [nvarchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
 CONSTRAINT [PK_NhanVienYT] PRIMARY KEY CLUSTERED 
(
	[MaNhanVienYT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuChungNhan]    Script Date: 12/20/2021 4:30:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuChungNhan](
	[MaSoPhieu] [varchar](50) NOT NULL,
	[MaDotTiem] [varchar](50) NOT NULL,
	[LanTiem] [int] NOT NULL,
	[CMND] [varchar](50) NOT NULL,
	[MaNhanVienYT] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PhieuChungNhan] PRIMARY KEY CLUSTERED 
(
	[MaSoPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phuong]    Script Date: 12/20/2021 4:30:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phuong](
	[MaPhuong] [varchar](50) NOT NULL,
	[TenPhuong] [nvarchar](50) NOT NULL,
	[MaQuan] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Phuong] PRIMARY KEY CLUSTERED 
(
	[MaPhuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quan]    Script Date: 12/20/2021 4:30:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quan](
	[MaQuan] [varchar](50) NOT NULL,
	[TenQuan] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Quan] PRIMARY KEY CLUSTERED 
(
	[MaQuan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quyen]    Script Date: 12/20/2021 4:30:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quyen](
	[MaQuyen] [varchar](50) NOT NULL,
	[TenQuyen] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Quyen] PRIMARY KEY CLUSTERED 
(
	[MaQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 12/20/2021 4:30:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TenTaiKhoan] [varchar](50) NOT NULL,
	[MatKhau] [nvarchar](50) NOT NULL,
	[MaQuyen] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[TenTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DanhSachTiem] ([MaSoDS], [TenDanhSach]) VALUES (N'DS001
', N'Danh Sách 1
')
INSERT [dbo].[DanhSachTiem] ([MaSoDS], [TenDanhSach]) VALUES (N'DS002', N'Danh Sách 2')
INSERT [dbo].[DanhSachTiem] ([MaSoDS], [TenDanhSach]) VALUES (N'DS003', N'Danh Sách 3')
GO
INSERT [dbo].[DoiNguYT] ([MaDoiNgu], [TenDoiNgu]) VALUES (N'DN001
', N'Đội ngũ 1
')
INSERT [dbo].[DoiNguYT] ([MaDoiNgu], [TenDoiNgu]) VALUES (N'DN002', N'Đội ngũ 2')
INSERT [dbo].[DoiNguYT] ([MaDoiNgu], [TenDoiNgu]) VALUES (N'DN003', N'Đội ngũ 3')
GO
INSERT [dbo].[DotTiem] ([MaDotTiem], [NgayTiem], [MaQuan], [MaPhuong], [MaLoai], [MaSoDS], [MaDoiNgu]) VALUES (N'COVID19001
', CAST(N'2021-01-23' AS Date), N'Q1', N'P003', N'VXJ', N'DS001
', N'DN001
')
INSERT [dbo].[DotTiem] ([MaDotTiem], [NgayTiem], [MaQuan], [MaPhuong], [MaLoai], [MaSoDS], [MaDoiNgu]) VALUES (N'COVID19002', CAST(N'2021-10-24' AS Date), N'Q1', N'P002', N'VXJ', N'DS002', N'DN001
')
INSERT [dbo].[DotTiem] ([MaDotTiem], [NgayTiem], [MaQuan], [MaPhuong], [MaLoai], [MaSoDS], [MaDoiNgu]) VALUES (N'COVID19003', CAST(N'2021-10-25' AS Date), N'Q2', N'P122', N'VXJ', N'DS003', N'DN001
')
GO
INSERT [dbo].[LoaiVacXin] ([MaLoai], [TenLoai], [SoMuiTiem]) VALUES (N'VXAZ', N'AstraZeneca', 2)
INSERT [dbo].[LoaiVacXin] ([MaLoai], [TenLoai], [SoMuiTiem]) VALUES (N'VXC', N'Comirnaty ', 2)
INSERT [dbo].[LoaiVacXin] ([MaLoai], [TenLoai], [SoMuiTiem]) VALUES (N'VXGCV', N'Gam-COVID-Vac', 2)
GO
INSERT [dbo].[NguoiDan] ([CMND], [HoTen], [GioiTinh], [NamSinh], [SDT], [MaQuan], [MaPhuong], [DiaChi], [MaSoDS]) VALUES (N'1611700832', N'Nguyễn Đức Hoài ', N'Nam', N'24/5/1991', N'0313643598', N'Q2', N'P122', N'327/44 đường số 27', N'DS003')
INSERT [dbo].[NguoiDan] ([CMND], [HoTen], [GioiTinh], [NamSinh], [SDT], [MaQuan], [MaPhuong], [DiaChi], [MaSoDS]) VALUES (N'1611702220', N'Nguyễn Thành Đạt', N'Nam', N'5/4/1990', N'0943735211', N'Q2', N'P122', N'130/27 đường số 19', N'DS003')
INSERT [dbo].[NguoiDan] ([CMND], [HoTen], [GioiTinh], [NamSinh], [SDT], [MaQuan], [MaPhuong], [DiaChi], [MaSoDS]) VALUES (N'1711100257', N'Hoàng Công Minh', N'Nam', N'25/3/1989', N'0957926191', N'Q12', N'P014', N'334/24 đường số 4', N'DS023')
GO
INSERT [dbo].[NhanVienYT] ([MaNhanVienYT], [TenNhanVienYT], [MaDoiNgu], [SDT], [CoQuan], [Email]) VALUES (N'NVYT001
', N'Nguyễn Văn Trung
', N'DN001
', N'0934523416
', N'Bệnh viện Tp.HCM
', N'trung416@gmail.com')
INSERT [dbo].[NhanVienYT] ([MaNhanVienYT], [TenNhanVienYT], [MaDoiNgu], [SDT], [CoQuan], [Email]) VALUES (N'NVYT002', N'Lê Thị Tâm
', N'DN001
', N'0934523417
', N'Bệnh viện Tp.HCM
', N'quynh417@gmail.com')
INSERT [dbo].[NhanVienYT] ([MaNhanVienYT], [TenNhanVienYT], [MaDoiNgu], [SDT], [CoQuan], [Email]) VALUES (N'NVYT003
', N'Nguyễn Như Ý
', N'DN001
', N'0934523418
', N'Bệnh viện Tp.HCM
', N'y418@gmail.com')
GO
INSERT [dbo].[PhieuChungNhan] ([MaSoPhieu], [MaDotTiem], [LanTiem], [CMND], [MaNhanVienYT]) VALUES (N'PCN0001
', N'COVID19001
', 1, N'1811060158', N'NVYT001
')
INSERT [dbo].[PhieuChungNhan] ([MaSoPhieu], [MaDotTiem], [LanTiem], [CMND], [MaNhanVienYT]) VALUES (N'PCN0002', N'COVID19001
', 1, N'1811061355', N'NVYT001
')
INSERT [dbo].[PhieuChungNhan] ([MaSoPhieu], [MaDotTiem], [LanTiem], [CMND], [MaNhanVienYT]) VALUES (N'PCN0003', N'COVID19001
', 1, N'1811061512', N'NVYT001
')
GO
INSERT [dbo].[Phuong] ([MaPhuong], [TenPhuong], [MaQuan]) VALUES (N'P001
', N'Phường Tân Định
', N'Q1')
INSERT [dbo].[Phuong] ([MaPhuong], [TenPhuong], [MaQuan]) VALUES (N'P001', N'Phường Tân Định', N'Q1')
INSERT [dbo].[Phuong] ([MaPhuong], [TenPhuong], [MaQuan]) VALUES (N'P002', N'Phường Đa Kao', N'Q1')
GO
INSERT [dbo].[Quan] ([MaQuan], [TenQuan]) VALUES (N'Q1', N'Quận 1')
INSERT [dbo].[Quan] ([MaQuan], [TenQuan]) VALUES (N'Q10', N'Quận 10')
INSERT [dbo].[Quan] ([MaQuan], [TenQuan]) VALUES (N'Q11', N'Quận 11')
GO
INSERT [dbo].[Quyen] ([MaQuyen], [TenQuyen]) VALUES (N'Q01', N'Quản Lý')
INSERT [dbo].[Quyen] ([MaQuyen], [TenQuyen]) VALUES (N'Q02', N'Nhập Liệu')
GO
INSERT [dbo].[TaiKhoan] ([TenTaiKhoan], [MatKhau], [MaQuyen]) VALUES (N'amin', N'123456', N'Q01')
INSERT [dbo].[TaiKhoan] ([TenTaiKhoan], [MatKhau], [MaQuyen]) VALUES (N'loc', N'123456789', N'Q01')
INSERT [dbo].[TaiKhoan] ([TenTaiKhoan], [MatKhau], [MaQuyen]) VALUES (N'tuan', N'123456789', N'Q01')
GO
ALTER TABLE [dbo].[DotTiem]  WITH CHECK ADD  CONSTRAINT [FK_DotTiem_DanhSachTiem] FOREIGN KEY([MaSoDS])
REFERENCES [dbo].[DanhSachTiem] ([MaSoDS])
GO
ALTER TABLE [dbo].[DotTiem] CHECK CONSTRAINT [FK_DotTiem_DanhSachTiem]
GO
ALTER TABLE [dbo].[DotTiem]  WITH CHECK ADD  CONSTRAINT [FK_DotTiem_DoiNguYT] FOREIGN KEY([MaDoiNgu])
REFERENCES [dbo].[DoiNguYT] ([MaDoiNgu])
GO
ALTER TABLE [dbo].[DotTiem] CHECK CONSTRAINT [FK_DotTiem_DoiNguYT]
GO
ALTER TABLE [dbo].[DotTiem]  WITH CHECK ADD  CONSTRAINT [FK_DotTiem_LoaiVacXin] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LoaiVacXin] ([MaLoai])
GO
ALTER TABLE [dbo].[DotTiem] CHECK CONSTRAINT [FK_DotTiem_LoaiVacXin]
GO
ALTER TABLE [dbo].[DotTiem]  WITH CHECK ADD  CONSTRAINT [FK_DotTiem_Phuong] FOREIGN KEY([MaPhuong])
REFERENCES [dbo].[Phuong] ([MaPhuong])
GO
ALTER TABLE [dbo].[DotTiem] CHECK CONSTRAINT [FK_DotTiem_Phuong]
GO
ALTER TABLE [dbo].[DotTiem]  WITH CHECK ADD  CONSTRAINT [FK_DotTiem_Quan] FOREIGN KEY([MaQuan])
REFERENCES [dbo].[Quan] ([MaQuan])
GO
ALTER TABLE [dbo].[DotTiem] CHECK CONSTRAINT [FK_DotTiem_Quan]
GO
ALTER TABLE [dbo].[NguoiDan]  WITH CHECK ADD  CONSTRAINT [FK_NguoiDan_DanhSachTiem] FOREIGN KEY([MaSoDS])
REFERENCES [dbo].[DanhSachTiem] ([MaSoDS])
GO
ALTER TABLE [dbo].[NguoiDan] CHECK CONSTRAINT [FK_NguoiDan_DanhSachTiem]
GO
ALTER TABLE [dbo].[NguoiDan]  WITH CHECK ADD  CONSTRAINT [FK_NguoiDan_Phuong] FOREIGN KEY([MaPhuong])
REFERENCES [dbo].[Phuong] ([MaPhuong])
GO
ALTER TABLE [dbo].[NguoiDan] CHECK CONSTRAINT [FK_NguoiDan_Phuong]
GO
ALTER TABLE [dbo].[NguoiDan]  WITH CHECK ADD  CONSTRAINT [FK_NguoiDan_Quan] FOREIGN KEY([MaQuan])
REFERENCES [dbo].[Quan] ([MaQuan])
GO
ALTER TABLE [dbo].[NguoiDan] CHECK CONSTRAINT [FK_NguoiDan_Quan]
GO
ALTER TABLE [dbo].[NhanVienYT]  WITH CHECK ADD  CONSTRAINT [FK_NhanVienYT_DoiNguYT] FOREIGN KEY([MaDoiNgu])
REFERENCES [dbo].[DoiNguYT] ([MaDoiNgu])
GO
ALTER TABLE [dbo].[NhanVienYT] CHECK CONSTRAINT [FK_NhanVienYT_DoiNguYT]
GO
ALTER TABLE [dbo].[PhieuChungNhan]  WITH CHECK ADD  CONSTRAINT [FK_PhieuChungNhan_DotTiem] FOREIGN KEY([MaDotTiem])
REFERENCES [dbo].[DotTiem] ([MaDotTiem])
GO
ALTER TABLE [dbo].[PhieuChungNhan] CHECK CONSTRAINT [FK_PhieuChungNhan_DotTiem]
GO
ALTER TABLE [dbo].[PhieuChungNhan]  WITH CHECK ADD  CONSTRAINT [FK_PhieuChungNhan_NguoiDan] FOREIGN KEY([CMND])
REFERENCES [dbo].[NguoiDan] ([CMND])
GO
ALTER TABLE [dbo].[PhieuChungNhan] CHECK CONSTRAINT [FK_PhieuChungNhan_NguoiDan]
GO
ALTER TABLE [dbo].[PhieuChungNhan]  WITH CHECK ADD  CONSTRAINT [FK_PhieuChungNhan_NhanVienYT] FOREIGN KEY([MaNhanVienYT])
REFERENCES [dbo].[NhanVienYT] ([MaNhanVienYT])
GO
ALTER TABLE [dbo].[PhieuChungNhan] CHECK CONSTRAINT [FK_PhieuChungNhan_NhanVienYT]
GO
ALTER TABLE [dbo].[Phuong]  WITH CHECK ADD  CONSTRAINT [FK_Phuong_Quan] FOREIGN KEY([MaQuan])
REFERENCES [dbo].[Quan] ([MaQuan])
GO
ALTER TABLE [dbo].[Phuong] CHECK CONSTRAINT [FK_Phuong_Quan]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_Quyen] FOREIGN KEY([MaQuyen])
REFERENCES [dbo].[Quyen] ([MaQuyen])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_Quyen]
GO
